body {
    color: #414141;               /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
  }
#header {
  text-decoration :underline;
}
.text { 
  font-size: 23px;
  text-indent: 20px;
 }
 .button {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}